@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282a36;
}

div {
  text-align: center;
}
h1 {
  font-size: 3rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: aqua;
  text-shadow: 2px 2px 4px rgba(158, 244, 229, 0.5);
  font-size: 3rem;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
}
